<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="header">
        <header>
            <h1 class="headline">@Html.ActionLink("Прокат видеофильмов", "UserIndex", "Home")</h1>
            <div class="navigation">
                <ul class="nav">
                    <li>@Html.ActionLink("Корзина", "Basket", "Home")</li>
                    <li>@Html.ActionLink("Личный кабинет", "PersonalArea", "Home")</li>
                    <li>@Html.ActionLink("Выход", "Start", "Home")</li>
                </ul>
                <div class="greeting"><p>Добро пожаловать, @Session["user_name"]</p></div>
            </div>
        </header>
    </div>
    <div class="wrapper">

        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>