@model IEnumerable<VideoRentalSite.Models.video>
@{
    Layout = "~/Views/Shared/_CustomLayoutForAdmin.cshtml"; 
}
@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Добавить", "AddVideo", "Home", new { @class = "edit-link" })
</p>
<table class="table">
    <tr>
        <th>
            Наименование
        </th>
        <th>
            Год выхода
        </th>
        <th>
            Описание
        </th>
    
        <th>
            Страна
        </th>
        <th>
            Цена
        </th>
        <th>
            Количество
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.video_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video_year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video_description)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.video_country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video_price_per_day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video_quantity)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "AdminEdit", new { id=item.video_id })
            @Html.ActionLink("Подробнее", "AdminVideoDetails", new { id = item.video_id })
        </td>
    </tr>
}

</table>
