@model IEnumerable<VideoRentalSite.Models.video>
@{
    Layout = "~/Views/Shared/_CustomLayoutForAdmin.cshtml"; 
}
@{
    ViewBag.Title = "Index";
}

<header>

</header>
<h2>Index</h2>

<p>
    @Html.ActionLink("Добавить", "AddVideo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.video_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video_year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video_price_per_day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video_quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video_cover_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video_country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.video_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video_year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video_price_per_day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video_quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video_cover_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video_country)
        </td>
        <td>
            @Html.ActionLink("Edit", "AdminEdit", new { id=item.video_id }) |
            @Html.ActionLink("Details", "VideoDetails", new { id=item.video_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.video_id })
        </td>
    </tr>
}

</table>
