@model VideoRentalSite.Models.order
@using WebMatrix.Data;
@{
    ViewBag.Title = "Basket";
}

@{
    string connectionString = @"VideoRentalDatabase";
    IEnumerable<dynamic> videos;
    using (var db = Database.Open(connectionString))
    {

         videos = db.Query("SELECT basket.video_name, basket.video_price_per_day, basket.order_id" +
            " FROM basket WHERE basket.user_id = " + Session["user_id"]);

    }

    float totalPrice = 0;
}

<h2>Basket</h2>

<div>
    <h4>order</h4>
    <hr />
    <table>
        <tr><th>Название фильма</th><th>Стоимость</th> </tr>
        @{
            foreach (var item in videos)
            {

                <tr id=@item.order_id><td> @item.video_name </td> <td>@item.video_price_per_day </td> <td><button type="button" onclick="DeleteFromBasket(this)" value=@item.order_id>Удалить</button></td></tr>
               
                 totalPrice += @item.video_price_per_day;
            }
        }
    <tr><td>Общая сумма</td><td>@totalPrice</td> </tr>
    </table>
    <button type="button" onclick="MakeOrder()">Заказать</button>
</div>
<p>
    @Html.ActionLink("Back to List", "UserIndex")
</p>

<script>
    function DeleteFromBasket(element){

        var a = $.get("/Home/DeleteFromBasket", { id: element.value });
        $("#" + element.value).remove();
        alert(element.value);
    }

    function MakeOrder() {
        var orderIds = {};
        var $table = $('table');
        $('tr', $table).each(function (tr, elem) {
            if (elem.id) {
                orderIds["id" + elem.id] = elem.id;
            }
            
        });
        console.log(orderIds);
    }
</script>
