@model VideoRentalSite.Models.order
@using WebMatrix.Data;
@{
    ViewBag.Title = "Basket";
}
@{
    Layout = "~/Views/Shared/_CustomLayoutForUser.cshtml";
}

@{
    string connectionString = @"VideoRentalDatabase";
    IEnumerable<dynamic> videos;
    using (var db = Database.Open(connectionString))
    {

         videos = db.Query("SELECT basket.video_name, basket.video_price_per_day, basket.order_id" +
            " FROM basket WHERE basket.user_id = " + Session["user_id"]);

    }

    float totalPrice = 0;
}

<div class="basket">
    <h2 class="heading2">Корзина</h2>
    <table class="basket-table">
        <tr><th>Название фильма</th><th>Стоимость</th> <th></th></tr>
        @{
            foreach (var item in videos)
            {

                <tr id=@item.order_id><td> @item.video_name </td> <td class="price">@item.video_price_per_day </td> <td><button type="button" onclick="DeleteFromBasket(this)" value=@item.order_id>Удалить</button></td></tr>
               
                 totalPrice += @item.video_price_per_day;
            }
        }
        
    </table>
    <div>Общая сумма: <span id="totalprice">@totalPrice</span></div>
    <button type="button" onclick="MakeOrder()">Заказать</button>
</div>

<script>
    function DeleteFromBasket(element){

        var a = $.get("/Home/DeleteFromBasket", { id: element.value });
        $("#" + element.value).remove();
        
        var $price = $(".price");
        console.log($price);
        var total = 0;
        $price.each(function (index, elem) {
            total += +(elem.textContent);
        })
        $('#totalprice').text(total);
        console.log(total);
    }

    function MakeOrder() {
        var orderIds = [];
        var $table = $('table');
        var length = 0;
        $('tr', $table).each(function (tr, elem) {
            if (elem.id) {
                orderIds.push(elem.id);
                length++;
            }
            
        });
        orderIds.length = length;
        console.log(orderIds);
        $.ajax({
            type: 'GET',
            url: '@Url.Action("MakeOrder", "Home")',
            data: { ids: orderIds.join(',') },
            success: function () {
                alert('Заказ отправлен на обработку');
            }
        })
    }
</script>
