@model VideoRentalSite.Models.user

@{
    ViewBag.Title = "Register";
}
@Styles.Render("~/Content/register.css")

<div class="form">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>Регистрация</h4>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="label">Имя пользователя</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "input-text" } })
                    @Html.ValidationMessageFor(model => model.user_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="label">E-mail</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.user_email, new { htmlAttributes = new { @class = "input-text" } })
                    @Html.ValidationMessageFor(model => model.user_email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="label">Пароль</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.user_password, new { htmlAttributes = new { @class = "input-text" } })
                    @Html.ValidationMessageFor(model => model.user_password, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Зарегистрироваться" class="button" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
