@model IEnumerable<VideoRentalSite.Models.videogenre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.genre.genre_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video.video_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.genre.genre_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video.video_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.videogenre_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.videogenre_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.videogenre_id })
        </td>
    </tr>
}

</table>
