@model VideoRentalSite.Models.video

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>video</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.video_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video_price_per_day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video_price_per_day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video_quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video_quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video_cover_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video_cover_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video_country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video_country)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
