@model VideoRentalSite.Models.video
@using WebMatrix.Data;

@{
    ViewBag.Title = "Details";
}

@{ 
    string connectionString = @"VideoRentalDatabase";
    string genreName = "";
    using (var db = Database.Open(connectionString))
    {

        IEnumerable<dynamic> genre = db.Query("SELECT genre.genre_name FROM genre, videogenre WHERE " +
            "videogenre.videogenre_id_genre = genre.genre_id and videogenre.videogenre_id_video = " + Model.video_id);

        foreach (var item in genre)
        {
            genreName += @item.genre_name + " ";
        }
    }
}
<h2>Details</h2>

<div>
    <h4>video</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.video_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video_price_per_day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video_price_per_day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video_quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video_quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video_cover_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video_cover_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video_country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video_country)
        </dd>
        <dt>
            Жанр:
        </dt>

        <dd>
            @genreName
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.video_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
